makefile
makefile.cmd
core
core.*
TAGS

_build/
build/
refroot/
coverage/
project/
tools/
extras/

.*.sw?
*~
*.pyc
.nfs*

*.sav

*.o
*.obj
*.log

*.gyp
*.suo
*.sdf
*.opensdf
.vscode
*.VC.db
*.VC.opendb
*.VC.db-shm
*.VC.db-wal
*.ipch
.DS_Store

containers/

debian/*-bdemeta
debian/bde-binary-stamp
debian/bde-build-stamp
debian/files
debian/lib*-dev/
debian/tmp
