name: Tests

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  build-check:
    name: "Check whether NTF builds correctly."
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Docker Cluster Workflow
        run: docker build --tag ntf-core --platform linux/amd64 docker
